*{
    margin:0px;
    padding:0px;
}

#container{
    margin:auto;
}

.common{
    margin:auto;
    padding:10px;
}

#part1{
    height: 30px;
    width:700px;
    background-color: yellow;
}

#part2{
    height: 300px;
    width:700px;
    background-color: palegreen;
}

#part3{
    height: 300px;
    width:700px;
    background-color: skyblue;
}

#part4{
    height: 500px;
    width:700px;
    background-color: pink;
}

#part5{
    height: 30px;
    width:700px;
    background-color: mediumpurple;
}

#part1_btn a{
    text-decoration: none;
    padding:10px;
    margin:50px;
    background-color: greenyellow;
    border:1px;
    border-color: mediumpurple;
    text-align: center;
}

#part21{
    height: 280px;
    width:280px;
    background-color: palegoldenrod;
    float:left;
    padding:5px;
    margin:5px;
}

#part22{
    height: 280px;
    width:380px;
    background-color: plum;
    float:right;
    padding:5px;
    margin:5px;
}

#part31,
#part32,
#part33{
    height: 280px;
    width:213px;
    background-color: cornflowerblue;
    padding:5px;
    margin:5px
}

#part31,
#part32{
    float:left;
}

#part33{
    float:right;
}

#part41,
#part42,
#part43{
    height: 150px;
    width:680px;
    background-color: hotpink;
    padding:5px;
    margin:5px;
}

#part5_logo a{
    padding:5px 10px;
}
