*{
    margin:0px;
    padding:0px;
}
#back{
    position:fixed;
    top:612px;
    left:1040px;
}


#container{
    margin:auto;
}

.common{
    margin:auto;
    padding:10px;
}

#part1{
    height: 200px;
    width:95px;
    background-color: yellow;
    position:fixed;
    top:0px;
    left:195px;
}

#part2{
    height: 300px;
    width:700px;
    background-color: skyblue;
}

#part3{
    height: 300px;
    width:700px;
    background-color: palegreen;
}

#part4{
    height: 665px;
    width:700px;
    background-color: pink;
}

#part5{
    height: 30px;
    width:700px;
    background-color: mediumpurple;
}

#part1_btn a{
    text-decoration: none;
    padding:10px;
    margin:5px;
    background-color: greenyellow;
    float:left;
}

#part21,
#part22,
#part23{
    height: 280px;
    width:213px;
    background-color: cornflowerblue;
    padding:5px;
    margin:5px
}

#part21,
#part22{
    float:left;
}

#part23{
    float:right;
}

#part31{
    height: 280px;
    width:330px;
    background-color: palegoldenrod;
    float:left;
    padding:5px;
    margin:5px;
}

#part32{
    height: 280px;
    width:330px;
    background-color: plum;
    float:right;
    padding:5px;
    margin:5px;
}

#part41,
#part42,
#part43,
#part44{
    height: 150px;
    width:680px;
    background-color: hotpink;
    padding:5px;
    margin:5px;
}

#part5_logo a{
    padding:5px 10px;
    position: relative;
    top: 7px;
    left:10px;
}

#part51{
    display:inline-block;
    position: relative;
    top:5px;
    left:380px;
}

